body {
	background: rgba(11, 99, 150, 0.5);
}

h1 {
	font-family: Verdana;
}

a {
     font-family: Verdana;
     font-size: 24px;
     padding-bottom: 10px;   
     text-decoration: none;
}
